<?xml version="1.0"?>
<config>
    <modules>
        <Aligent_FeedsReader>
            <version>0.1.0</version>
        </Aligent_FeedsReader>
    </modules>
    <global>
        <blocks>
            <aligent_feedsreader>
                <class>Aligent_FeedsReader_Block</class>
            </aligent_feedsreader>
        </blocks>
        <helpers>
            <aligent_feedsreader>
                <class>Aligent_FeedsReader_Helper</class>
            </aligent_feedsreader>
        </helpers>
    </global>
    <default>
        <aligentfeedsreader>
            <twitter>
                <enabled>1</enabled>
                <tweet_amount>10</tweet_amount>
                <user_data>0</user_data>
                <get_replies>0</get_replies>
            </twitter>
        </aligentfeedsreader>
    </default>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <aligentfeedsreader>
                                            <title>Store Aligent Feeds Module Section</title>
                                        </aligentfeedsreader>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>